/**
 * @file
 * SCSS file to generate CSS.
 *
 * Base css of site
 */

* {
  line-height: normal;
  vertical-align: top;
}

body {
  margin: 0;
  padding: 0;
  color: $grey-72;
  font-size: $font-size-18;
  font-family: sans-serif;
}

a {
  color: $grey-72;
  font-size: $font-size-15;
  &:hover,
  &:focus {
    color: $grey-99;
    text-decoration: none;
    outline: none;
  }
}

p {
  /*display: block;*/
  /*margin: 0;*/
  color: $black-88;
  font-size: 14px;
}

strong {
  color: $black-42;
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
}

video {
  height: auto;
  width: 100%;
}
