/**
 * @file
 * SCSS file to generate CSS.
 *
 * Base css of site
 */

* {
  line-height: normal;
  vertical-align: top;
}

body {
  margin: 0;
  padding: 0;
  color: $grey-72;
  font-size: $font-size-16;
  font-family: $opensans-regular;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-72;
  font-family: $oswald-regular;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
a {
  color: $grey-72;
  font-size: $font-size-15;
  &:hover,
  &:focus {
    color: $grey-99;
    text-decoration: none;
    outline: none;
  }
}
ul {
  margin: 0;
  padding-left: 0;
  li {
    list-style: none;
  }
}

p {
  /*display: block;*/
  /*margin: 0;*/
  color: $black-88;
  font-size: 14px;
}

strong {
  color: $black-42;
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
}

video {
  height: auto;
  width: 100%;
}
