/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Typography.
 */

/*.flex {
  @include flexbox();
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.flex-wrap {
  @include flex-wrap(wrap);
}*/

.green-title {
  display: inline-block;
  margin-top: 0;
  color: $green;
  font-size: $font-size-25;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.title-small {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 15px;
  color: $black-3a;
  font-size: $font-size-20;
}
.title-smaller {
  margin-bottom: 10px;
  color: $black;
  font-size: $font-size-15;
  font-family: $opensans-semibold;
}
.title-capatilize {
  text-transform: uppercase;
}
.page-title {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: $font-size-20;
  font-family: $oswald-regular;
  letter-spacing: 1px;
}

.title-border {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  padding: 18px 0;
  border-bottom: 2px solid $grey-d8;
  color: $grey-6b;
  font-size: $font-size-14;
  text-transform: uppercase;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 90px;
    background-color: $grey-87;
    content: '';
  }
}
.large-bold-title {
  margin: 5px 0;
  font-size: $font-size-30;
  font-family: $opensans-bold;
}
.block-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  color: $blue-6e;
  font-size: $font-size-20;
  font-weight: 700;
}

.title-small-grey {
  display: inline-block;
  width: 100%;
  font-size: $font-size-14;
}

.block-sub-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: $blue-6e;
  font-size: $font-size-15;
  font-weight: 700;
}

.side-heading {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
}

.orange-header {
  color: $orange;
  font-size: $font-size-24;
}

.bold-text {
  font-family: $opensans-bold;
  a {
    font-family: $opensans-bold;
  }
}

.card-top-heading {
  margin: 5px 0;
  color: $black-3c;
  font-size: $font-size-18;
}
.small-title {
  color: $black-88;
  font-size: 14px;
}
.small-bold-title {
  display: block;
  margin: 5px 0;
  color: $black-48;
  font-size: $font-size-12;
  font-family: $opensans-bold;
}
.medium-title {
  color: $black-3a;
  font-size: 16px;
  font-family: $opensans-bold;
}
.paragraph-detail {
  color: $grey-62;
  font-size: $font-size-14;
  line-height: 30px;
}

/* List style add task design */
.info-wrap {
  display: inline-block;
  width: 100%;
  li {
    display: inline-block;
    width: 100%;
    color: $grey-67;
    font-size: $font-size-16;
    line-height: 25px;
    &::before {
      display: inline-block;
      height: 20px;
      width: 20px;
      font-size: $font-size-14;
      font-family: 'Fontawesome';
      content: '\f00c';
    }
  }
}
/* End List style add task design */

/* List spacing */
.list-spacing {
  li {
    margin-bottom: 14px;
    a {
      font-size: $font-size-14;
    }
  }
}
/* End List spacing */
