/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Typography.
 */

.flex {
  @include flexbox();
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.green-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 25px;
  color: $green;
  font-size: $font-size-25;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title-small {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 15px;
  font-size: $font-size-20;
  font-weight: 700;
}
.title-smaller {
  margin: 0;
  padding: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
  color: $black;
}
.title-capatilize {
  font-size: 16px;
  text-transform: uppercase;
}
.page-title {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
}

.title-border {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0;
  /*border-bottom: 1px solid #AFAFAF;*/
  border-bottom: 2px solid #D8D8D8;
  color: $grey-6b;
  font-size: 14px;
  text-transform: uppercase;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 90px;
    background-color: $grey-87;
    content: '';
  }
}

.block-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  color: $blue-6e;
  font-size: 20px;
  font-weight: 700;
}

.block-heading {
  display: inline-block;
  width: 100%;
  color: $grey-72;
  font-size: $font-size-16;
  p {
    display: inline-block;
  }
}

.block-sub-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: $blue-6e;
  font-size: 15px;
  font-weight: 700;
}

.side-heading {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  font-size: $font-size-16;
}

.orange-header {
  margin: 0;
  color: $orange;
  font-size: $font-size-24;
}

/* List style add task design */
.info-wrap {
  display: inline-block;
  width: 100%;
  li {
    display: inline-block;
    width: 100%;
    color: $grey-67;
    font-size: 16px;
    line-height: 25px;
    &::before {
      display: inline-block;
      height: 20px;
      width: 20px;
      font-style: 20px;
      font-family: 'Fontawesome';
      content: '\f00c';
    }
  }
}

/* List style design */
ul {
  li {
    font-size: $font-size-15;
    a {
      color: $grey-99;
      font-size: $font-size-15;
      &:hover {
        color: $grey-99;
      }
    }
  }
}
.list-style {
  li {
    position: relative;
    padding-left: 25px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 15px;
      width: 20px;
      background-position: center;
      background-repeat: no-repeat;
      content: '';
    }
  }
}
.list-style-arrow {
  li {
    margin-bottom: 5px;
    color: $grey-62;
    a {
      color: $grey-62;
    }
    &::before {
      background-image: url('../images/right-arrow.png');
    }
  }
}
.list-style-que {
  li {
    padding-left: 35px;
    &::before {
      background-image: url('../images/question.png');
      opacity: .5;
    }
    &.active {
      &::before {
        opacity: 1;
      }
      a {
        color: $black-2a;
      }
    }
  }
}
/* End */

/* Add task list design */
ul.task-list {
  display: inline-block;
  width: 100%;
  padding: 20px 15px;
  li {
    display: inline-block;
    width: 100%;
    padding: 8px 0 8px 20px;
    border-bottom: 1px dashed $grey-58;
    &:first-child {
      border-top: 1px dashed $grey-58;
    }
    &:last-child {
      border-bottom: none;
    }
    span {
      float: left;
      color: $grey-59;
      font-size: 12px;
    }
    .task-edit-section {
      float: right;
      .true-img-wrap {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-right: 20px;
        img {
          height: 15px;
          width: 100%;
        }
      }
    }
  }
  .add-list {
    position: relative;
    color: $black;
    font-size: 13px;
    font-weight: 700;
    text-transform: none;
    &::before {
      position: absolute;
      float: left;
      top: 0;
      left: 0;
      display: inline-block;
      height: 15px;
      width: 15px;
      margin-left: -20px;
      background-image: url('../images/plus.png');
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
    }
  }
}
