/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Typography.
 */

.green-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 25px;
  color: $green;
  font-size: $font-size-25;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title-small {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: $font-size-20;
  font-weight: 700;
}
