/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */


/**
 * Font face
 */
$opensans-extrabold: 'OpenSans Extrabold';
$opensans-bold: 'OpenSans Bold';
$opensans-semibold: 'OpenSans SemiBold';
$opensans-bolditalic: 'OpenSans BoldItalic';
$opensans-semibolditalic: 'OpenSans SemiboldItalic';
$opensans-italic: 'OpenSans Italic';
$opensans-regular: 'OpenSans Regular';
$opensans-light: 'OpenSans light';

$oswald-bold: 'Oswald-Bold';
$oswald-light: 'Oswald-light';
$oswald-regular: 'Oswald-regular';

/* URLs */
$url-opensans-extrabold: url('../css/fonts/OpenSans/OpenSans-ExtraBold.woff');
$url-opensans-bold: url('../css/fonts/OpenSans/OpenSans-Bold.woff');
$url-opensans-semibold: url('../css/fonts/OpenSans/OpenSans-Semibold.woff');
$url-opensans-bolditalic: url('../css/fonts/OpenSans/OpenSans-BoldItalic.woff');
$url-opensans-semibolditalic: url('../css/fonts/OpenSans/OpenSans-SemiboldItalic.woff');
$url-opensans-italic: url('../css/fonts/OpenSans/OpenSans-Italic.woff');
$url-opensans-regular: url('../css/fonts/OpenSans/OpenSans-Regular.woff');
$url-opensans-light: url('../css/fonts/OpenSans/OpenSans-Light.woff');

$url-opensans-extrabold: url('../css/fonts/OpenSans/OpenSans-ExtraBold.ttf');
$url-opensans-bold: url('../css/fonts/OpenSans/OpenSans-Bold.ttf');
$url-opensans-semibold: url('../css/fonts/OpenSans/OpenSans-Semibold.ttf');
$url-opensans-bolditalic: url('../css/fonts/OpenSans/OpenSans-BoldItalic.ttf');
$url-opensans-semibolditalic: url('../css/fonts/OpenSans/OpenSans-SemiboldItalic.ttf');
$url-opensans-italic: url('../css/fonts/OpenSans/OpenSans-Italic.ttf');
$url-opensans-regular: url('../css/fonts/OpenSans/OpenSans-Regular.ttf');
$url-opensans-light: url('../css/fonts/OpenSans/OpenSans-Light.ttf');

$url-oswald-bold: url('../css/fonts/oswald/Oswald-Bold.woff');
$url-oswald-light: url('../css/fonts/oswald/Oswald-Light.woff');
$url-oswald-regular: url('../css/fonts/oswald/Oswald-Regular.woff');


/* Color code */
$white:       #FFF;
$white-f9:    #F9F9F9;
$black:       #000;
$black-2a:    #2A2A2A;
$black-33:    #333;
$black-42:    #424242;
$black-48:    #484848;
$black-88:    #888;
$black-43:    #434343;
$black-3a:    #3A3A3A;
$black-3c:    #3C3C3C;


$grey:        #303135;
$grey-b6:     #B6B6B6;
$grey-e7:     #E7E7E7;
$grey-62:     #626262;
$grey-79:     #797979;
$grey-6b:     #6B6B6B;
$grey-87:     #878787;
$grey-99:     #999;
$grey-67:     #676767;
$grey-58:     #586176;
$grey-59:     #595959;
$grey-c7:     #C7D6D6;
$grey-72:     #727272;
$grey-71:     #717171;
$grey-b3:     #B3B3B3;
$grey-f9:     #F9F9F7;
$grey-dd:     #DDD;
$grey-d8:     #D8D8D8;
$grey-66:     #606060;
$grey-c0:     #C0C0C0;

$green:       #94C34F;
$green-00:    #009928;
$green-90:    #90C54D;

$red:         #FF0049;
$red-ff:      #FF285F;
$red-ff5:     #FF5952;
$red-f1:      #FF4261;

$blue:        #3F4C99;
$blue-53:     #53C4F9;
$blue-33:     #339BEE;
$blue-6e:     #6E95E4;
$blue-7f:     #7F9CE9;
$blue-37:     #375695;
$blue-44:     #44AAEC;
$blue-00:     #0076B6;
$blue-38:     #385C97;

$skyblue:     #00CFE5;
$sky-66:      #669CFE;
$sky-blue-a6: #A6C4FE;
$sky-blue-90: #90B1FF;
$sky-00:      #00D6BE;

$red:         #E64443;
$red-f5:      #FF4D55;

$purple:      #C400E9;

$yellow:      #FF9E00;
$yellow-ff:   #FFC84B;

$pink:        #FF443B;

$orange:      #FF3E2B;



/* Font size*/
$font-size-base: 18px;
$font-size-12: ceil(($font-size-base *  0.66)); //12px
$font-size-10: ceil(($font-size-base *  0.55)); //10px
$font-size-14: ceil(($font-size-base *  0.75)); //14px
$font-size-15: ceil(($font-size-base *  0.833)); //15px
$font-size-16: floor(($font-size-base *  0.9)); //16px
$font-size-18: $font-size-base; //18px
$font-size-20: ceil(($font-size-base *  1.1)); //20px
$font-size-24: ceil(($font-size-base *  1.33)); //24px
$font-size-25: floor(($font-size-base *  1.4)); //25px
$font-size-30: floor(($font-size-base *  1.67)); //30px

/**
 * Media query ( for responsive design )
 */
$small-desktop: 1200px;
$ipad: 1024x;
$ipad-portrait: 992px;
$mobile: 767px;
$mobile-landscape: 600px;
$mobile-portrait: 480px;
$small-mobile-portrait: 360px;
/* End */
