/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */


/**
 * Font face
 */
/*$opensans-extrabold: 'OpenSans Extrabold';*/

/* URLs */
/*$url-opensans-extrabold: url('../fonts/OpenSans/OpenSans-ExtraBold.woff');*/


/* Color code */
$white:       #FFF;
$black:       #000;
$black-2a:    #2A2A2A;
$black-33:    #333;
$black-42:    #424242;


$grey:        #303135;
$grey-b6:     #B6B6B6;
$grey-e7:     #E7E7E7;
$grey-62:     #626262;
$grey-79:     #797979;
$grey-6b:     #6B6B6B;
$grey-87:     #878787;
$grey-99:     #999;
$grey-67:     #676767;
$grey-58:     #586176;
$grey-59:     #595959;
$grey-c7:     #C7D6D6;
$grey-72:     #727272;

$green:       #94C34F;

$red:         #FF0049;
$red-ff:      #FF285F;
$red-ff5:     #FF5952;

$blue:        #3F4C99;
$blue-53:     #53C4F9;
$blue-33:     #339BEE;
$blue-6e:     #6E95E4;
$blue-7f:     #7F9CE9;

$skyblue:     #00CFE5;

$green:       #009928;

$purple:      #C400E9;

$yellow:      #FF9E00;
$yellow-ff:   #FFC84B;

$pink:        #FF443B;

/* Font size*/
$font-size-base: 18px;
$font-size-12: ceil(($font-size-base *  0.66)); //12px
$font-size-14: ceil(($font-size-base *  0.75)); //14px
$font-size-15: ceil(($font-size-base *  0.833)); //15px
$font-size-16: floor(($font-size-base *  0.9)); //16px
$font-size-18: $font-size-base; //18px
$font-size-20: ceil(($font-size-base *  1.1)); //20px
$font-size-25: floor(($font-size-base *  1.4)); //25px
$font-size-30: floor(($font-size-base *  1.67)); //30px

/**
 * Media query ( for responsive design )
 */
$small-desktop: 1200px;
$ipad: 1024x;
$ipad-portrait: 992px;
$mobile: 767px;
$mobile-landscape: 600px;
$mobile-portrait: 480px;
$small-mobile-portrait: 360px;
/* End */
