/**
 * @file
 * SCSS file to generate CSS.
 *
 * Add task page SCSS
 */

.add-task-wrapper {
  display: inline-block;
  width: 100%;
  padding: 25px 0 100px;
}

.form-wrap {
  float: left;
  margin-right: 90px;
  @include calc('width', '42% - 65px');
  form {
    padding-bottom: 25px;
    border-bottom: 1px solid $grey-b6;
    .form-group {
      display: inline-block;
      width: 100%;
      margin-bottom: 40px;
      /*label {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        color: $black-33;
        font-size: 16px;
        font-weight: 600;
      }*/
      .form-control {
        background-color: $white;
      }
      textarea {
        height: auto;
        background-color: $white;
      }
    }
    .serach-icon {
      background-image: url('../images/search-icon.png');
      background-position: right 12px center;
      background-repeat: no-repeat;
      background-size: 20px;
    }
  }
  .add-btn-class {
    display: inline-block;
    width: 100%;
    margin: 25px 0 60px;
    text-align: right;
    .btn {
      text-transform: capitalize;
    }
  }
}
.detail-wrapper {
  float: right;
  width: 55%;
  margin-top: 22px;
}

/* Chat icon design */
.chat-wrap {
  position: fixed;
  float: right;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 70px 20px 0;
  padding: 12px 0 0 7px;
  background-color: $pink;
  cursor: pointer;
  @include border-radius(100px);
}

.plan-grid-wrapper {
  width: 100%;
  margin-bottom: 40px;
  justify-content: space-between;
  .plan-wrap {
    display: inline-block;
    margin-right: 130px;
    @include calc('width', '25% - 45px');
    &:last-child {
      margin-right: 0;
    }
  }
}

/* Block title design */
.block-heading {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  span {
    display: inline-block;
    padding: 0 5px;
    color: $grey-b3;
  }
  p {
    display: inline-block;
    color: $grey-71;
  }
}
.share-media {
  display: block;
  max-width: 530px;
  margin: 50px auto 85px;
  .content-half {
    display: inline-block;
    width: 100%;
    padding: 50px 15px 30px;
    .add-task-caption {
      display: inline-block;
      width: 100%;
      /*margin-top: 50px;*/
      color: $grey-66;
    }
  }
}
