/**
 * @file
 * SCSS file to generate CSS.
 *
 * Feedback page SCSS
 */
.sidebar-box {
  .list-spacing {
    margin-top: 20px;
    padding: 0;
  }
}
.getting-start-wrap {
  .list-items {
    margin-bottom: 100px;
  }
}
.feedback-wrap {
  .radio-group {
    margin: 10px 0 80px;
    label {
      margin-bottom: 15px;
      color: $grey-79;
      font-size: 14px;
      font-weight: normal;
    }
    input {
      margin: 0 20px 0 0;
    }
  }
  .feedback-form {
    margin-top: 25px;
    > label {
      margin-bottom: 20px;
    }
  }
}
