/**
 * @file
 * SCSS file to generate CSS.
 *
 * User profile SCSS
 */
.form-section {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  .user-form-group {
    @media (max-width: 992px) {
      margin-bottom: 25px;
    }
  }
}
.left-form-part {
  float: left;
  display: inline-block;
  margin-right: 25px;
  @include calc(width, '60% - 25px');
  @media (max-width: 480px) {
    width: 100%;
    margin: 0;
  }
}
.right-form-part {
  float: left;
  width: 40%;
  @media (max-width: 480px) {
    width: 100%;
  }
  .profile-photo {
    margin-bottom: 50px;
    .set-profile {
      display: inline-block;
      margin: 0 0 10px;
    }
  }
}
.each-portfolio {
  .portfolio-heading {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 20px;
    .portfolio-title {
      float: left;
      display: inline-block;
    }
    .options {
      float: right;
      display: inline-block;
      .edit,
      .delete {
        margin-right: 30px;
        &::before {
          display: inline-block;
          margin-top: 3px;
          background-image: url('../images/edit.png');
        }
      }
      .delete {
        &::before {
          background-image: url('../images/rubbish-bin.png');
        }
      }
    }
  }
  .portfolio-detail {
    margin-bottom: 50px;
    p {
      margin: 15px 5px;
      font-size: $font-size-14;
      line-height: 20px;
    }

  }
}
.user-info-form {
  .connected-socially {
    padding-bottom: 50px;
    .social-icon-connect {
      width: 100%;
    }
  }
}
.form-button {
  margin-top: 50px;
}
