/**
 * @file
 * SCSS file to generate CSS.
 *
 * Card design.
 */
/** Left content **/
.profile-view {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 15px 15px;
  .user-profile-img {
    float: left;
    display: inline-block;
    width: 40%;
    padding-left: 25px;
    @media (max-width: 992px) {
      width: 20%;
      margin-right: 5%;
    }
    @media (max-width: 480px) {
      width: 25%;
    }
    img {
      width: 100px;
    }
  }
  .profile-detail {
    display: inline-block;
    width: 60%;
    text-align: center;
    @media (max-width: 992px) {
      width: 73%;
      text-align: left;
    }
    @media (max-width: 480px) {
      width: 70%;
    }
  }
  h2 {
    margin: 15px 0 5px;
  }
}
.card-item {
  float: left;
  position: relative;
  display: inline-block;
  width: 50%;
  /*margin-right: 15px;*/
  padding-left: 32px;
  margin-bottom: 40px;
  font-size: 13px;
  /*@include calc(width, '50% - 15px');*/
  &::before {
    height: 25px;
    width: 25px;
    content: '';
  }
  /*&:nth-child(2n) {
    margin-right: 0;
  }*/
}
.location {
  &::before {
    background-image: url('../images/location.png');
  }
}
.positive-rating {
  &::before {
    background-image: url('../images/star-icon-line.png');
  }
}
.speak {
  &::before {
    background-image: url('../images/chat.png');
  }
}
.response-time {
  &::before {
    background-image: url('../images/clock.png');
  }
}
.card-list {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 15px 0;
}
.project-list {
  padding: 30px;
}
.project-wrap {
  float: left;
  margin-right: 15px;
  color: $black-43;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  @include calc(width, '50% - 8px');
  &:last-child {
    margin-right: 0;
  }
}
.card-view {
  display: inline-block;
  margin-right: 45px;
  @include calc(width, '23% - 24px');
  &:last-child {
    margin-right: 0;
  }
}
.plan-card-section {
  &:hover,
  &:focus,
  &:active {
    background-color: $red-f5;
    h3 {
      color: $white;
    }
    .plan-list {
      li {
        span {
          color: $white;
        }
      }
    }
  }
}