/**
 * @file
 * SCSS file to generate CSS.
 *
 * Card design.
 */

.card {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid $grey-b6;
}
.card-task {
  display: block;
  max-width: 215px;
  margin: 0 auto 40px;
  padding-bottom: 20px;
  .task-header {
    position: relative;
    display: inline-block;
    width: 100%;
    .task-image {
      img {
        width: 100%;
      }
    }
  }
  .task-title {
    display: inline-block;
    height: 40px;
    width: 100%;
    margin: 10px 0;
    padding: 0 2px;
    overflow: hidden;
    font-size: $font-size-14;
    font-style: italic;
    font-family: $opensans-bold;
    text-overflow: ellipsis;
    a {
      line-height: 20px;
      &:hover,
      &:focus,
      &:active {
        color: $grey-72;
      }
    }
  }
  .task-by-rate {
    display: inline-block;
    width: 100%;
    padding: 0 2px;
    font-size: $font-size-10;
    .task-by {
      display: inline-block;
      max-width: 75px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      a {
        font-size: 10px;
      }
      @media (max-width: $small-desktop) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .task-rating {
      float: right;
      display: inline-block;
      p {
        display: inline-block;
      }
    }
  }
}
.card-progress {
  display: inline-flex;
  margin-right: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $ipad-portrait) {
    @include calc('width', '33.33% - 34px');
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media (max-width: $mobile-portrait) {
    width: 100%;
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  .number {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-size: $font-size-30;
  }
  .status {
    display: inline-block;
    width: 100%;
    font-size: $font-size-14;
  }
}
.card-bottom-border {
  position: relative;
  border-right: none;
  border-bottom: none;
  background-color: $white;
  @include border-radius(3px);
  &::before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 8px;
    width: 100%;
    margin-bottom: -8px;
    background-color: $sky-00;
    content: '';
    @include border-radius(2px);
  }
  &.card-bottom-border-yellow {
    &::before {
      background-color: $yellow;
    }
  }
  &.card-bottom-border-blue {
    &::before {
      background-color: $blue-33;
    }
  }
  &.card-bottom-border-purple {
    &::before {
      background-color: $purple;
    }
  }
  &.card-bottom-border-red {
    &::before {
      background-color: $red-ff;
    }
  }
  &.card-bottom-border-grey {
    &::before {
      background-color: $grey-b6;
    }
  }
}
/* Add task list design */
ul.task-list {
  display: inline-block;
  width: 100%;
  padding: 20px 15px;
  li {
    display: inline-block;
    width: 100%;
    padding: 8px 0 8px 20px;
    border-bottom: 1px dashed $grey-58;
    &:first-child {
      border-top: 1px dashed $grey-58;
    }
    &:last-child {
      border-bottom: none;
    }
    span {
      float: left;
      color: $grey-59;
      font-size: 12px;
    }
    .task-edit-section {
      float: right;
      .true-img-wrap {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-right: 20px;
        img {
          height: 15px;
          width: 100%;
        }
      }
    }
  }
  .add-list {
    position: relative;
    color: $black;
    font-size: 13px;
    font-weight: 700;
    text-transform: none;
    &::before {
      position: absolute;
      float: left;
      top: 0;
      left: 0;
      display: inline-block;
      height: 15px;
      width: 15px;
      margin-left: -20px;
      background-image: url('../images/plus.png');
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
    }
  }
  &.plan-list {
    li {
      &:last-child {
        border-bottom: 1px dashed $grey-58;
      }
    }
  }
}
/* End Add task list design */

/*Card price design*/
.task-price {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  padding: 5px 10px;
}
/*End*/
/* Plan-block-sectio design */
.plan-card-section {
  &:hover,
  &:focus,
  &:active {
    background-color: $red-f5;
    h3 {
      color: $white;
    }
    .plan-list {
      li {
        span {
          color: $white;
        }
      }
    }
  }
}
/* End */
/* Right content of task detail page*/
.profile-view {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 15px;
  .dashboard-title {
    display: block;
    h4 {
      margin: 0;
    }
  }
  .user-profile-img {
    float: left;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    /*width: 40%;*/
    /*padding-left: 25px;*/
    @include calc('width' , '40% - 5px');
    img {
      width: auto;
    }
    @media (max-width: 992px) {
      width: 20%;
      margin-right: 5%;
    }
    @media (max-width: 480px) {
      width: 25%;
    }
  }
  .profile-detail {
    display: inline-block;
    width: 60%;
    margin-right: 0;
    @include calc('width' , '60% - 5px');
    text-align: center;
    @media (max-width: 992px) {
      width: 73%;
      text-align: left;
    }
    @media (max-width: 480px) {
      width: 70%;
    }
    &.deshboard-detail {
      text-align: left;
      p {
        margin-bottom: 5px;
        font-size: 12px;
      }
    }
  }
  h3 {
    margin: 5px 0;
  }
}
.card-item {
  position: relative;
  float: left;
  display: inline-block;
  /*width: 50%;*/
  margin-bottom: 30px;
  padding-left: 32px;
  font-size: 13px;
  font-family: $opensans-semibold;
  @include calc('width' , '50% - 15px');
  &:nth-child(2n) {
    width: 54%;
  }
  &::before {
    height: 25px;
    width: 25px;
    content: '';
  }
  /*span {
    display: block;
    margin: 5px 0;
    color: $black-48;
    font-size: 12px;
    font-weight: 600;
  }*/
  /*&:nth-child(2n) {
    margin-right: 0;
  }*/
}
.location {
  &::before {
    background-image: url('../images/location.png');
  }
}
.positive-rating {
  &::before {
    background-image: url('../images/star-icon-line.png');
  }
}
.speak {
  &::before {
    background-image: url('../images/chat.png');
  }
}
.response-time {
  &::before {
    background-image: url('../images/clock.png');
  }
}
.card-list {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 15px 0;
}
.project-wrap {
  float: left;
  margin-right: 15px;
  color: $black-43;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  @include calc(width, '50% - 8px');
  &:last-child {
    margin-right: 0;
  }
}
/* End */

.card-view {
  float: left;
  display: inline-block;
  margin-right: 45px;
  @include calc(width, '23% - 24px');
  &:last-child {
    margin-right: 0;
  }
}
