/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 */

/* Container width */
.container-460 {
  max-width: 460px;
  width: 100%;
  margin: 100px auto;
  padding: 0 15px;
}

/* Background color */
.bg-white {
  background-color: $white;
}
.bg-grey-f9 {
  background-color: $grey-f9;
}
.bg-sky-66 {
  background-color: $sky-66;
}
.bg-black {
  background-color: $black;
}
.bg-grey {
  background-color: $grey;
  color: $white;
}
.bg-black-42 {
  background-color: $black-42;
  color: $white;
}
.bg-blue {
  background-color: $blue-7f;
  color: $white;
}
.bg-skyblue {
  background-color: $skyblue;
}
.bg-red {
  background-color: $red-ff5;
}
.bg-yellow {
  background-color: $yellow-ff;
}
/* End Background color */

/* Border design */
.border-grey {
  border: 1px solid $grey-b6;
}
.border-bottom-dotted {
  border-bottom: 2px dotted $grey-b6;
}
.border-top-green-10 {
  border-top: 10px solid $green-90;
}
.border-top {
  border-top: 1px solid $grey-dd;
}
.border-bottom {
  border-bottom: 1px solid $grey-dd;
}
/* End Border design */

/* Border radius */
.corner-rounded-4 {
  @include border-radius(4px);
}
.border-radius-5 {
  border: 1px solid $grey-b6;
  @include border-radius(5px);
}
/* End Border radius */

/* Star rating design */
.task-star-rating {
  font-size: $font-size-10;
  p {
    display: inline-block;
    margin-bottom: 0;
    font-size: $font-size-10;
  }
  .dark-gray-star {
    display: inline-block;
    &::before {
      float: left;
      display: inline-block;
      height: 10px;
      width: 10px;
      background-image: url('../images/stars-grey.png');
      background-position: right;
      content: '';
    }
  }
  .light-gray-star {
    display: inline-block;
    &::before {
      background-position: left;
    }
  }
}
/* End Star rating design */

.social-share-button {
  button {
    float: left;
    margin-right: 20px;
    font-size: $font-size-14;
    text-transform: none;
    @include calc('width', '50% - 10px');
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 480px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    &:last-child {
      margin-right: 0;
      @media (max-width: 480px) {
        margin-bottom: 0;
      }
    }
  }
}

/* -OR- text design */
.or-text {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font-size-14;
  text-align: center;
  &::before {
    position: absolute;
    top: 8px;
    left: 0;
    z-index: -1;
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: $grey-b6;
    content: '';
  }
  span {
    display: inline-block;
    width: 45px;
    background-color: $white;
  }
}
/* End -OR- text design*/

.user-detail-wrap {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  .user-image {
    float: left;
    width: 50px;
    margin-right: 20px;
  }
  .user-detail {
    float: left;
    @include calc('width', '100% - 70px');
    .user-title {
      display: inline-block;
      width: 100%;
      margin-bottom: 8px;
    }
    .user-desc {
      color: $grey-79;
      font-size: $font-size-14;
    }
  }
}

/* Edit img design */
.edit-img-wrap {
  float: right;
  display: inline-block;
  height: 15px;
  width: 15px;
  img {
    width: 100%;
  }
}


/** Taypography **/
.card-top-heading {
  margin: 9px 0 15px;
  font-size: 18px;
  font-weight: 600;
}
.small-tilte {
  display: inline-block;
  margin: 0;
  color: $black-88;
  font-size: 14px;
  strong {
    color: $black-42;
  }
}
.small-bold-title {
  display: block;
  margin: 5px 0;
  color: $black-48;
  font-size: 12px;
  font-weight: 600;
}
.medium-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.amount-title {
  font-size: 26px;
  font-weight: 600;
}
.content-font {
  font-size: 16px;
  line-height: 30px;
}

/* Tab view */
.nav-tabs {
  border-top: 1px solid $grey-dd;
  li {
    @media (max-width: 480px) {
      width: 50%;
      text-align: center;
    }
    a {
      padding: 13px 24px;
      border: none;
      color: $black-48;
      font-size: 14px;
      @media (max-width: 640px) {
        padding: 13px;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
      }
    }
  }
  li.active {
    a {
      border: none;
      background-color: $sky-blue-a6;
      color: $white;
      @include border-radius(0);
      &:hover,
      &:focus,
      &:active {
        border: none;
        background-color: $sky-blue-a6;
        color: $white;
      }
    }
  }
}
/* End Tab view */

.main-content {
  display: inline-block;
  width: 100%;
  padding: 40px 0;
}
.left-content {
  float: left;
  display: inline-block;
  margin-right: 55px;
  @include calc(width, '70% - 56px');
  @media (max-width: 992px) {
    width: 100%;
    margin: 0 0 20px;
  }
}
.view-item {
  display: inline-block;
  width: 100%;
  padding: 15px;
}
.top-heading {
  display: inline-block;
  width: 100%;
  padding-left: 24px;
}
.right-content {
  float: left;
  width: 30%;
  @media (max-width: 992px) {
    width: 100%;
  }
}
.rating-star {
  float: left;
}
.orders-queue {
  margin-left: 15px;
}
.real-estate-img {
  img {
    width: 100%;
  }
}
.brand-img {
  display: inline-block;
  padding: 0;
}
.degignation-title {
  float: right;
  .right-graphic-design {
    float: right;
    display: inline-block;
  }
}
.title-space {
  width: 100%;
  margin-bottom: 26px;
}
.prerequisites-doc {
  display: inline-block;
  width: 100%;
}
.doc-img {
  position: relative;
  padding: 12px 0 0 50px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 38px;
    width: 38px;
    background-image: url('../images/file-upload.png');
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
  }
}
.portfolio {
  display: inline-block;
  width: 100%;
  h2 {
    margin-bottom: 23px;
  }
}
.portfolio-img {
  display: inline-block;
  width: 100%;
  margin-bottom: 42px;
}
.order-now {
  margin-bottom: 33px;
  font-size: 14px;
  span {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    color: $black-42;
    font-weight: 600;
  }
  a {
    color: $black-88;
  }
}
.more-reviews {
  display: inline-block;
  width: 100%;
  padding: 30px;
}
.review {
  float: left;
  display: inline-block;
}
.left-review {
  width: 40%;
  padding: 0 15px;
}
.right-review {
  width: 60%;
}
.left-review,
.right-review {
  @media (max-width: 767px) {
    width: 100%;
    padding: 0;
  }
}
.sub-review {
  float: left;
  width: 33.33%;
  @media (max-width: 640px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
.seller-comments {
  margin-bottom: 33px;
  padding: 17px 10px 52px;
}
.profile-list {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 26px;
  padding-left: 65px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../images/user-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
  h2 {
    margin: 5px 0;
    font-size: 16px;
  }
  span {
    width: 100%;
  }
  p {
    display: inline-block;
    width: 100%;
    max-width: 765px;
    margin: 16px 0 0;
    padding-bottom: 30px;
    font-size: 15px;
  }
}
.more-comments {
  margin-left: 60px;
  @media (max-width: 992px) {
    margin-left: 0;
  }
  p {
    border: none;
  }
}
.task-seller {
  display: inline-block;
  width: 100%;
  margin-right: 24px;
  max-width: 20%;
  &:last-child {
    margin-right: 0;
  }
}
.task-main-content {
  display: inline-block;
  width: 100%;
  margin-bottom: 8  0px;
  padding: 0 30px;
}
ul.plan-list {
  li {
    &:last-child {
      border-bottom: 1px dashed #586176;
    }
  }
}
.plan-block-section {
  .hide-img {
    &::after {
      display: none;
      content: '';
    }
  }
}
.view-caption {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}
/** button **/
.contact-btn {
  display: inline-block;
  width: 100%;
  a {
    width: 100%;
    background-color: $sky-66;
  }
}
.show-me-btn {
  display: inline-block;
  a {
    padding: 4px 10px;
    border: 1px solid $grey-dd;
    background-color: $white;
    color: $black-88;
    text-transform: capitalize;
    @include box-shadow(1px 1px 2px 0 $black-48);
    &:hover,
    &:focus,
    &:active {
      color: $black-48;
      opacity: 1;
    }
  }
}
.payment-form {
  display: inline-block;
  width: 100%;
  margin: 15px 0 45px;
  .form-group {
    margin-bottom: 18px;
    label {
      margin-bottom: 10px;
    }
    input {
      max-width: 100%;
      background-color: transparent;
    }
  }
  .sub-form {
    float: left;
    display: block;
    width: 100%;
    margin-right: 15px;
    @include calc(width, '50% - 8px');
    @media (max-width: 1200px) {
      max-width: 100%;
      @include calc(width, '50% - 8px');
    }
    @media (max-width: 640px) {
      max-width: 100%;
      @include calc(width, '50% - 8px');
    }
    @media (max-width: 480px) {
      width: 100%;
      margin: 0 0 20px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.mayment-btn {
  float: right;
  display: inline-block;
  .btn {
    float: none;
  }
  .make-payment-btn {
    margin-right: 25px;
  }
}
.date-form {
  float: right;
  display: inline-block;
  label {
    margin: 0 5px 0 0;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
  }
  .form-control {
    height: 38px;
    background-color: transparent;
    font-size: 12px;
  }
}
.apply-btn-class {
  display: inline-block;
  margin-left: 15px;
  .btn {
    padding: 8px 20px;
  }
}

/** Checkout Payment info page **/
.main-payment-content {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.payment-info {
  float: left;
  display: inline-block;
  margin-right: 50px;
  @include calc(width, '70% - 50px');
  @media (max-width: 992px) {
    width: 100%;
    margin: 0 0 25px;
  }
}
.payment-img {
  position: absolute;
  top: auto;
  bottom: 0;
  display: inline-block;
  width: 30%;
  text-align: center; 
  @media (max-width: 992px) {
    position: relative;
    width: 100%;
  }
}
.payment-title {
  padding: 15px 15px 15px 30px;
}
.payment-detail {
  display: inline-block;
  width: 100%;
  padding: 22px 0 85px;
  .cards-details {
    float: left;
    display: inline-block;
    margin-right: 30px;
    @include calc(width, '28% - 32px');
    @media (max-width: 1200px) {
      @include calc(width, '34% - 32px');
    }
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}
.form-details {
  display: inline-block;
  padding: 0 15px;
  width: calc(72% - 82px);
  @media (max-width: 640px) {
    width: 100%;
  }
}
.payment-card-tab {
  margin-top: 20px;
}
.cards-details {
  ul {
    list-style: none;
    li {
      width: 100%;
      border-right: 1px solid $grey-dd;
      border-bottom: 1px solid $grey-dd;
      &:hover,
      &:focus,
      &:active {
        background-color: $sky-blue-90;
        a {
          color: $white;
          font-weight: 600;
        }
      }
      a {
        display: inline-block;
        width: 100%;
        padding: 20px 25px;
        color: $black-42;
        font-size: 16px;
        text-decoration: none;
      }
    }
    .active {
      background-color: $sky-blue-90;
      a {
        color: $white;
        font-weight: 600;
      }
    }
  }
}
.amount-payabel {
  display: inline-block;
  h2 {
    margin: 0 0 30px;
  }
  span {
    font-size: 15px;
    text-transform: capitalize;
    vertical-align: middle;
  }
}

/** Payment history page **/
.filter-tab {
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 22px;
    a {
      color: $black-48;
      font-size: 13px;
      vertical-align: middle;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        color: $black-42;
      }
    }
  }
}
.top-payment-title {
  &::before {
    background-image: url('../images/star-icon-line.png');
  }
}
.payment-history-form {
  float: left;
  display: inline-block;
}
.main-payment-history-content {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}
.form-calender-pic {
  margin-right: 12px;
  &:after {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-left: 4px;
    background-image: url('../images/Calendar-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    content: '';
  }
}
.top-payment-content {
  display: inline-block;
  width: 100%;
  margin: 10px 0 36px;
}
.view-pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.pagination {
  li {
    a {
      color: $black-42;
    }
  }
}
.payment-history-title {
  width: auto;
  margin-top: 6px;
  padding: 0 0 0 50px;
}
.payments-user-detail {
  margin-bottom: 47px;
}
/** Table **/
.recent-payment {
  tbody>tr>td,
  tbody>tr>th {
    padding: 15px 50px;
    border: none;
    font-size: 15px;
  }
}
.recent-payment {
  tbody {
    tr:nth-of-type(even) {
      background-color: $white-f9;
    }
    tr:nth-of-type(odd) {
      background-color: $white;
    }
  }
}
.connected-socially {
  ul {
    li {
      display: inline-block;
      margin: 10px 0;
      padding:8px 0 35px 55px;
      .right-form {
        float: right;
        display: inline-block;
        .title-smaller {
          margin-right: 20px;
        }
      }
      &::before {
        height: 35px;
        width: 35px;
        padding: 7px;
        color: $white;
        background-image: none;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-family: 'FontAwesome';
        content: '';
        @include border-radius(50%);
      }
    }
    .facebook {
      &::before {
        background-color: $blue-37;
        content: '\f09a';
      }
    }
    .twitter {
      &::before {
        background-color: $blue-44;
        content: '\f099';
      }
    }
    .googleplus {
      &::before {
        background-color: $red;
        content: '\f0d5';
      }
    }
    .linkedin {
      &::before {
        background-color: $blue-00;
        content: '\f0e1';
      }
    }
  }
}
