/*
 * @file
 * SCSS file to generate CSS.
 *
 * Component-2 design.
 */


.color-black-42 {
  color: $black-42;
  a {
    color: $black-42;
  }
}
.color-gray-99 {
  color: $grey-99;
}
.italic-link {
  font-style: italic;
}
.border-half-right-radius {
  @include border-radius(0 5px 5px 0);
}
/*Card price design*/
.task-price {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  padding: 5px 10px;
}
/*End*/

/* page-heading tag design */
.page-heading {
  display: inline-block;
  font-weight: 600;
}
/* END */

/* Border design of page header section */
.title-border-bottom {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  &::after {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 90px;
    background-color: $grey-87;
    content: '';
  }
}
/* END */

/* Right-dropdrown section design */
.dropdown-filter {
  float: right;
  display: inline-block;
  max-width: 240px;
  width: 100%;
  p {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  select {
    display: inline-block;
    max-width: 170px;
    width: 100%;
    background-color: $white;
    vertical-align: middle;
  }
}
/* End */
/* Order section design */
.order-status {
  display: inline-block;
  width: 100%;
  margin-bottom: 70px;
  .order-complete {
    table {
      width: 100%;
      tr {
        th {
          padding: 15px;
          background-color: $grey-f9;
        }
        td {
          padding: 25px 20px;
        }
      }
      .table-detail {
        td {
          width: 220px;
          vertical-align: middle;
          /*@media (max-width: $small-desktop) {
            width: 150px;
          }
          @media (max-width: $ipad-portrait) {
            width: 120px;
          }*/
          &.table-img {
            @include calc('width','100% - 660px');
            @media (max-width: $small-desktop) {
              min-width: 600px;
            }
            /*@media (max-width: $ipad-portrait) {
              @include calc('width','100% - 360px');
            }*/
            img {
              float: left;
              width: 110px;
            }
            h4 {
              display: inline-block;
              margin-top: 20px;
              line-height: 25px;
              @include calc('width','100% - 110px');
            }
          }
        }
      }
    }
  }
}
/* End */

