/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 */

/* Container width */
.container-495 {
  max-width: 495px;
  width: 100%;
  margin: 100px auto;
  padding: 0 15px;
}
/* End */
.card-waper {
  margin: 0 0 40px;
}

/* Background color */
.bg-white {
  background-color: $white;
}
.bg-grey-f9 {
  background-color: $grey-f9;
}
.bg-sky-66 {
  background-color: $sky-66;
}
.bg-black {
  background-color: $black;
}
.bg-grey {
  background-color: $grey;
  color: $white;
}
.bg-black-42 {
  background-color: $black-42;
  color: $white;
}
.bg-blue {
  background-color: $blue-7f;
  color: $white;
}
.bg-skyblue {
  background-color: $skyblue;
}
.bg-red {
  background-color: $red-ff5;
}
.bg-yellow {
  background-color: $yellow-ff;
}
/* End Background color */

/* Border design */
.border-grey {
  border: 1px solid $grey-b6;
}
.border-bottom-dotted {
  border-bottom: 2px dotted $grey-b6;
}
.border-top-green-10 {
  border-top: 10px solid $green-90;
}
.border-top {
  border-top: 1px solid $grey-dd;
}
.border-bottom {
  border-bottom: 1px solid $grey-dd;
}
/* End Border design */

/* Border radius */
.corner-rounded-4 {
  @include border-radius(4px);
}
.border-radius-5 {
  @include border-radius(5px);
}
.border-half-right-radius {
  @include border-radius(0 5px 5px 0);
}
/* End Border radius */
.list-view-item {
  .side-icon {
    display: block;
    &::before {
      height: 12px;
      width: 16px;
    }
  }
  .list-style-arrow {
    margin-bottom: 8px;
    &::before {
      margin-top: 6px;
      background-image: url('../images/right-arrow.png');
    }
  }
  .list-style-que {
    &::before {
      margin-top: 4px;
      background-image: url('../images/question.png');
      opacity: .5;
    }
    &.active {
      &::before {
        opacity: 1;
      }
      a {
        color: $black-2a;
      }
    }
  }
}
/* Order page */
.task-list {
  position: relative;
  /*margin-bottom: 26px;*/
  .dropdown-filter {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    display: inline-block;
    max-width: 240px;
    width: 100%;
    p {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .short-selection {
      position: relative;
      display: inline-block;
      max-width: 186px;
      padding-right: 28px;
      border-color: $grey-dd;
      background-color: $white;
      background-image: url('../images/down-arrow.png');
      background-position: right 10px center;
      background-repeat: no-repeat;
      background-size: 15px;
      vertical-align: middle;
      @include appearance(none);
      @include border-radius(0);
    }
  }
}
/* End */

/* Star rating design */
.task-star-rating {
  display: block;
  font-size: $font-size-10;
  .dark-gray-star {
    display: inline-block;
    vertical-align: middle;
    &::before {
      float: left;
      display: inline-block;
      height: 10px;
      width: 10px;
      background-image: url('../images/stars-grey.png');
      background-position: right;
      content: '';
    }
  }
  span {
    vertical-align: middle;
  }
  .light-gray-star {
    display: inline-block;
    &::before {
      background-position: left;
    }
  }
  &.task-detail-reting {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
}
.task-profile-list {
  .project-list {
    padding: 20px 30px;
  }
}
/* End Star rating design */

.social-share-button {
  button {
    float: left;
    margin-right: 20px;
    padding: 10px;
    font-size: $font-size-14;
    font-family: $opensans-regular;
    text-transform: none;
    @include calc('width', '50% - 10px');
    &:last-child {
      margin-right: 0;
      @media (max-width: 480px) {
        margin-bottom: 0;
      }
    }
    @media (max-width: 480px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .social-btn-icon {
    &::before {
      float: left;
      display: inline-block;
      background-image: none;
      font-size: $font-size-20;
      line-height: normal;
      font-family: 'FontAwesome';
      vertical-align: middle;
      content: '\f0d5';
    }
  }
  .facebook-btn-icon {
    &::before {
      content: '\f09a';
    }
  }
}

/* -OR- text design for login/register page */
.or-text {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font-size-14;
  text-align: center;
  &::before {
    position: absolute;
    top: 9px;
    left: 0;
    z-index: -1;
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: $grey-e7;
    content: '';
  }
  span {
    display: inline-block;
    width: 40px;
    background-color: $white;
    font-size: $font-size-13;
  }
}
/* End -OR- text design for login/register page */

.user-detail-wrap {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  .user-image {
    width: 50px;
    margin-right: 20px;
  }
  .user-profile {
    float: left;
  }
  .user-detail {
    .user-title {
      display: inline-block;
      width: 100%;
      margin-bottom: 8px;
      .title-small {
        padding: 0;
      }
    }
    .user-desc {
      margin-bottom: 10px;
      color: $grey-79;
      font-size: $font-size-14;
    }
  }
}

/* Edit img design */
.edit-img-wrap {
  float: right;
  display: inline-block;
  height: 15px;
  width: 15px;
  img {
    width: 100%;
  }
}
/* End */

/* Tab view */
.nav-tabs {
  border-top: 1px solid $grey-dd;
  li {
    @media (max-width: 480px) {
      width: 50%;
      text-align: center;
    }
    a {
      padding: 13px 24px;
      border: none;
      color: $black-48;
      font-size: $font-size-14;
      @media (max-width: 640px) {
        padding: 13px;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
      }
    }
  }
  li.active {
    a {
      border: none;
      background-color: $sky-blue-a6;
      color: $white;
      @include border-radius(0);
      &:hover,
      &:focus,
      &:active {
        border: none;
        background-color: $sky-blue-a6;
        color: $white;
      }
    }
  }
}
/* End Tab view */

.card-main-content {
  display: inline-block;
  width: 100%;
  padding: 40px 0 22px;
  h2,
    p {
    margin-bottom: 16px;
  }
}
.top-side-view {
  float: left;
  display: inline-block;
  margin-right: 55px;
  @include calc(width, '70% - 56px');
  @media (max-width: 992px) {
    width: 100%;
    margin: 0 0 20px;
  }
}
.top-task-heading {
  display: inline-block;
  width: 100%;
  padding: 15px;
}
.top-heading {
  display: inline-block;
  width: 100%;
  padding-left: 24px;
  .degignation-title {
    float: right;
  }
}
.rating-star {
  p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}
.caption-img {
  .real-estate-img {
    img {
      width: 100%;
    }
  }
  .brand-img {
    display: inline-block;
    padding: 0;
  }
}
.product-heading {
  margin-bottom: 35px;
  h2 {
    margin-bottom: 28px;
  }
}
.prerequisites-doc {
  .doc-img {
    padding: 12px 0 0 50px;
    &::before {
      height: 40px;
      width: 40px;
      background-image: url('../images/file-upload.png');
    }
  }
}
.portfolio {
  display: inline-block;
  width: 100%;
  margin-bottom: 42px;
  .portfolio-img {
    display: inline-block;
    width: 100%;
  }
  .view-caption {
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}
.order-now {
  margin-bottom: 50px;
  span {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    color: $black-42;
    font-size: $font-size-14;
    font-weight: 600;
  }
  a {
    color: $black-88;
    font-size: $font-size-14;
  }
}
.more-reviews {
  display: inline-block;
  width: 100%;
  padding: 30px;
  .left-review {
    float: left;
    display: inline-block;
    width: 40%;
    padding: 0 15px;
  }
  .right-review {
    display: inline-block;
    width: 60%;
  }
}
.sub-review {
  float: left;
  width: 33.33%;
  @media (max-width: 640px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
.seller-comments {
  margin-bottom: 33px;
  padding: 17px 10px 52px;
}
.profile-list {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 26px;
  padding-left: 65px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url('../images/user-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
  h2 {
    margin: 5px 0;
    font-size: $font-size-16;
  }
  span {
    width: 100%;
  }
  p {
    max-width: 765px;
    width: 100%;
    margin: 16px 0 0;
    padding-bottom: 30px;
    color: $black-42;
  }
  &.more-comments {
    margin: 0 0 0 65px;
  }
}

.task-seller {
  display: inline-block;
  max-width: 20%;
  width: 100%;
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}
.task-main-content {
  display: inline-block;
  width: 100%;
  margin-bottom: 80px;
  padding: 0 30px;
}
.plan-block-section {
  .hide-img {
    &::after {
      display: none;
      content: '';
    }
  }
}

.apply-btn-class {
  display: inline-block;
  margin-left: 15px;
  .btn {
    padding: 8px 20px;
  }
}

/* Checkout Payment info page */
.main-payment-content {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.payment-info {
  float: left;
  display: inline-block;
  margin-right: 50px;
  @include calc(width, '70% - 50px');
  @media (max-width: 992px) {
    width: 100%;
    margin: 0 0 25px;
  }
  .payment-title {
    h2 {
      margin: 0;
      padding: 15px 30px;
    }
  }
}
.payment-img {
  position: absolute;
  top: auto;
  bottom: 0;
  display: inline-block;
  width: 30%;
  text-align: center;
  @media (max-width: 992px) {
    position: relative;
    width: 100%;
  }
}
.payment-detail {
  display: inline-block;
  width: 100%;
  padding: 22px 0 85px;
  .cards-details {
    float: left;
    display: inline-block;
    margin-right: 30px;
    @include calc(width, '28% - 32px');
    @media (max-width: 1200px) {
      @include calc(width, '34% - 32px');
    }
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}
.form-details {
  display: inline-block;
  padding: 0 15px;
  @include calc(width, '72% - 82px');
  @media (max-width: 640px) {
    width: 100%;
  }
  .payment-card-tab {
    margin-top: 20px;
  }
}
.cards-details {
  ul {
    list-style: none;
    li {
      width: 100%;
      border-right: 1px solid $grey-dd;
      border-bottom: 1px solid $grey-dd;
      &:hover,
      &:focus,
      &:active {
        background-color: $sky-blue-90;
        a {
          color: $white;
          font-weight: 600;
        }
      }
      a {
        display: inline-block;
        width: 100%;
        padding: 20px 25px;
        color: $black-42;
        font-size: $font-size-16;
        text-decoration: none;
      }
    }
    .active {
      background-color: $sky-blue-90;
      a {
        color: $white;
        font-weight: 600;
      }
    }
  }
}
.amount-payabel {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  .amount-title {
    display: inline-block;
    margin-right: 5px;
    color: $black-3a;
    vertical-align: middle;
  }
  span {
    font-size: $font-size-16;
    font-family: $opensans-bold;
    text-transform: capitalize;
    vertical-align: middle;
  }
}

/* Payment history page */
.filter-tab {
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 22px;
    &:first-child {
      a {
        font-family: $opensans-semibold;
      }
    }
    a {
      color: $black-48;
      font-size: $font-size-13;
      text-decoration: none;
      vertical-align: middle;
      &:hover,
      &:focus,
      &:active {
        color: $black-42;
      }
    }
  }
}
.main-payment-history-content {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  .top-payment-content {
    display: inline-block;
    width: 100%;
    margin: 10px 0 36px;
  }
}
.form-calender-pic {
  margin-right: 12px;
  &::after {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-left: 4px;
    background-image: url('../images/time.png');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    content: '';
  }
}
.view-pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  ul.pagination {
    li {
      a {
        color: $black-42;
      }
    }
    .active {
      a {
        color: $white;
      }
    }
  }
}
.payment-history-content {
  .payments-user-detail {
    margin-bottom: 48px;
  }
}

/* Table */
.recent-payment {
  tbody>tr>td,
  tbody>tr>th {
    padding: 15px 50px;
    border: none;
    font-size: $font-size-15;
  }
  tbody>tr>th {
    color: $black-48;
    font-family: $opensans-bold;
  }
}
.recent-payment {
  tbody {
    tr:nth-of-type(even) {
      background-color: $white-f9;
    }
    tr:nth-of-type(odd) {
      background-color: $white;
    }
  }
}
.connected-socially {
  ul {
    li {
      display: inline-block;
      margin: 10px 0;
      padding: 8px 0 35px 55px;
      .right-form {
        float: right;
        display: inline-block;
        .title-smaller {
          margin-right: 20px;
        }
      }
      &::before {
        height: 35px;
        width: 35px;
        padding: 7px;
        background-image: none;
        color: $white;
        font-size: $font-size-22;
        font-style: normal;
        font-family: 'FontAwesome';
        text-align: center;
        content: '';
        @include border-radius(50%);
      }
    }
    .facebook {
      &::before {
        background-color: $blue-37;
        content: '\f09a';
      }
    }
    .twitter {
      &::before {
        background-color: $blue-44;
        content: '\f099';
      }
    }
    .googleplus {
      &::before {
        background-color: $red;
        content: '\f0d5';
      }
    }
    .linkedin {
      &::before {
        background-color: $blue-00;
        content: '\f0e1';
      }
    }
  }
}
/* End */

/* Top add task list */
.add-task-steps {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 6px;
}
.add-task-list {
  display: inline-block;
  li {
    display: inline-block;
    a {
      display: inline-block;
      margin-right: 62px;
      color: $black-33;
      font-size: $font-size-14;
      font-weight: 600;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}
/* End Top add task list */

/* Border design of page heading section */
.title-border-bottom {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  &::after {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 90px;
    background-color: $grey-87;
    content: '';
  }
}
/* End */

/* Order section design */
.order-status {
  display: inline-block;
  width: 100%;
  margin-bottom: 70px;
  .order-complete {
    table {
      width: 100%;
      tr {
        th {
          padding: 15px;
          background-color: $grey-f9;
          color: $black-3a;
          font-size: $font-size-16;
        }
        td {
          padding: 25px 20px;
        }
      }
      .table-detail {
        td {
          width: 220px;
          font-size: $font-size-14;
          vertical-align: middle;
          &.table-img {
            @include calc('width' , '100% - 660px');
            @media (max-width: $small-desktop) {
              min-width: 600px;
            }
            img {
              float: left;
              width: 110px;
            }
            h4 {
              display: inline-block;
              margin-top: 20px;
              padding: 0 20px;
              color: $black-3a;
              font-size: $font-size-16;
              line-height: 25px;
              font-weight: 600;
              @include calc('width' , '100% - 110px');
            }
          }
        }
      }
    }
  }
}
/* End */
/* Thumbnail */
.slider-two {
  margin-bottom: 25px;
  .slick-arrow {
    display: none;
  }
}
.thumbnails-slider {
  .slick-slide {
    margin-right: 15px;
  }
  .slick-dots {
    display: none;
  }
}
.content {
  display: inline-block;
}
/* End */
