/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 */

/* Page layout with sidebar */
.sidebar {
  float: left;
  width: 210px;
  margin-right: 70px;
}
.content-area {
  float: left;
  @include calc('width', '100% - 280px');
}
/* End */

/* 2 Column grid design */
.grid-50 {
  float: left;
  display: inline-block;
  width: 50%;
}
/* End */

/* 3 Column grid design */
.grid-33 {
  float: left;
  display: inline-block;
  margin-right: 70px;
  @include calc('width', '33.33% - 70px');
  &:nth-child(3n) {
    margin-right: 0;
  }
}
/* End */
