/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 */

/* Page layout with sidebar */
.sidebar {
  float: left;
  width: 210px;
  margin-right: 70px;
  @media (max-width: $mobile) {
    width: 100%;
    margin: 0 0 35px;
  }
}
.content-area {
  float: left;
  margin-bottom: 80px;
  @include calc('width', '100% - 280px');
  @media (max-width: $mobile) {
    width: 100%;
    margin-bottom: 30px;
  }
  .getting-start-wrap {
    .getting-title {
      margin-top: 0;
    }
  }
}
/* End */

/* 2 Column grid design */
.grid-50 {
  float: left;
  display: inline-block;
  width: 50%;
  @media (max-width: $mobile-portrait) {
    width: 100%;
  }
}
/* End */

/* 3 Column grid design */
.grid-33 {
  float: left;
  margin: 0 125px 45px 0;
  @include calc('width', '33.33% - 84px');
  &:nth-child(3n) {
    margin-right: 0;
  }
}
/* End */

/* Add task 2 page */
.plan-block-section {
  position: relative;
  display: inline-block;
  width: 100%;
  @include border-radius(4px);
  .top-edit-img {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    margin: 12px;
  }
  h3 {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
  }
  .task-price-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    color: $white;
    font-size: $font-size-24;
    font-family: $opensans-bold;
    text-align: center;
    span {
      padding: 0 8px;
      font-size: $font-size-14;
      vertical-align: middle;
    }
    /*a {
      color: $white;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        color: $grey-71;
      }
    }*/
    .top-edit-img {
      margin-top: 20px;
    }
    &::after {
      margin-top: 10px;
    }
  }
  .plan-link {
    box-shadow: inset 0 0 10px $grey-c7;
    &::after {
      display: none;
    }
  }
}

/* Box design for add task 3 page */
.gallery-inner-wrap {
  width: 100%;
  margin-bottom: 60px;
  justify-content: space-between;
  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
  @media (max-width: $mobile-portrait) {
    text-align: center;
  }
  &.pdf-gallery-wrap {
    margin-bottom: 12px;
  }
  .box {
    display: inline-block;
    min-height: 156px;
    max-width: 200px;
    width: 100%;
    margin: 0 35px 20px 0;
    padding: 15px;
    @include border-radius(4px);
    @media (max-width: $mobile) {
      max-width: 188px;
    }
    @media (max-width: $mobile-portrait) {
      max-width: 100%;
      margin: 15px auto;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .box-img {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    text-align: center;
    img {
      max-width: 50px;
      width: 100%;
    }
  }
  .choose-file {
    display: inline-block;
    width: 100%;
    text-align: center;
    word-break: break-all;
    span {
      font-size: 12px;
    }
  }
}
.publish-task-wrap {
  display: inline-block;
  width: 100%;
  .pubilsh-inner-wrap {
    position: relative;
    float: left;
    max-width: 385px;
    width: 50%;
    padding: 20px 15px;
    font-style: italic;
    text-align: center;
    @include border-radius(4px);
    @media (max-width: $mobile-portrait) {
      float: none;
      max-width: 100%;
      width: 100%;
    }
    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      left: auto;
      display: inline-block;
      height: 40px;
      width: 10px;
      margin-right: -11px;
      background-image: url('../images/shape.png');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      @include transform(translateY(-20px));
      @media (max-width: $mobile-portrait) {
        display: none;
      }
    }
    h2 {
      margin: 0 0 5px;
      color: $orange;
      font-size: $font-size-33;
    }
    .title-wrap {
      display: inline-block;
      max-width: 270px;
      width: 100%;
      color: $grey-71;
      font-size: $font-size-17;
      line-height: 24px;
    }
  }
  .publish-btn-group {
    float: right;
    width: 50%;
    margin-top: 25px;
    text-align: right;
    @media (max-width: $mobile-portrait) {
      float: none;
      width: 100%;
    }
    .btn {
      float: right;
    }
    .back-link {
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      color: $grey-71;
      font-size: $font-size-15;
    }
  }
}
