/**
 * @file
 * SCSS file to generate CSS.
 *
 * Social media icons design.
 */

.icon {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../images/inbox.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
}
.icon-dashboard {
  &::before {
    background-image: url('../images/clock-icon.png');
  }
}
.icon-activity {
  &::before {
    background-image: url('../images/activity.png');
  }
}
.icon-contact {
  &::before {
    background-image: url('../images/contact.png');
  }
}
.icon-inbox {
  &::before {
    background-image: url('../images/inbox-icon.png');
  }
}
.icon-setting {
  &::before {
    background-image: url('../images/setting.png');
  }
}
.icon-payment {
  &::before {
    background-image: url('../images/payment.png');
  }
}
.icon-recommended {
  &::before {
    background-image: url('../images/recommended.png');
  }
}
.icon-logout {
  &::before {
    background-image: url('../images/logout.png');
  }
}
