/**
 * @file
 * SCSS file to generate CSS.
 *
 * Component-2 design.
 */

/* Color code */
$blue-7f:  #7F9CE9;
$black-42: #424242;

/* Background color */
.bg-black {
  background-color: $black-42;
  color: $white;
}
.bg-blue {
  background-color: $blue-7f;
  color: $white;
}