/**
 * @file
 * SCSS file to generate CSS.
 *
 * Button SCSS
 */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid $white;
  background-color: $green;
  color: $white;
  font-size: $font-size-14;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  @include border-radius(4px);
  &:hover,
  &:focus,
  &:active:focus {
    color: $white;
    text-decoration: none;
    opacity: .9;
    outline: none;
    @include box-shadow(none);
  }
}
.btn-sm {
  padding: 1px 15px;
  font-size: $font-size-12;
}
.btn-red {
  border-color: $red;
  background-color: $red;
}
.btn-blue {
  border-color: $blue;
  background-color: $blue;
}
.btn-grey {
  border-color: $grey-58;
  background-color: $grey-58;
}
.btn-green {
  border-color: $green;
  background-color: $green;
}

.btn-gradient-blue {
  @include background-75-angle(rgba(105, 153, 251, 1), rgba(105, 153, 251, 1), rgba(93, 134, 220, 1), rgba(93, 134, 220, 1));
}
.btn-gradient-lightblue {
  @include background-75-angle(#5EBAFF, #5EBAFF, #56A7E5, #56A7E5);
}
.btn-gradient-grey {
  @include background-75-angle(#586176, #586176, #4D5668, #4D5668);
}

.btn-gradient-green {
  @include background-75-angle(#009928, #009928, #008624, #008624);
}

/* Buttons group for add task page */
.btn-group {
  display: inline-block;
  width: 100%;
  .btn:first-child {
    @include border-radius(4px);
  }
  .btn-green:last-child {
    float: right;
    @include border-radius(4px);
  }
}
