/**
 * @file
 * SCSS file to generate CSS.
 *
 * Button SCSS
 */

.btn {
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid $white;
  background-color: $green;
  color: $white;
  font-size: $font-size-16;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  @include border-radius(4px);
  &:hover,
  &:focus,
  &:active:focus {
    color: $white;
    text-decoration: none;
    opacity: .9;
    outline: none;
    @include box-shadow(none);
  }
}

.btn-red {
  border-color: $red;
  background-color: $red;
}
.btn-blue {
  border-color: $blue;
  background-color: $blue;
}

.btn-gradient-blue {
  @include background-75-angle(rgba(105,153,251,1), rgba(105,153,251,1), rgba(93,134,220,1), rgba(93,134,220,1));
}
