/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}
.footer-content {
  padding: 35px 0;
  color: $grey-6b;
  font-size: 14px;
  @include flexbox();
  @media (max-width: $mobile) {
    display: inline-block;
  }
  .footer-col {
    float: left;
    display: inline-block;
    padding-right: 10px;
    @media (max-width: $mobile) {
      width: 50%;
      margin-bottom: 20px;
    }
    @media (max-width: 640px) {
      width: 100%;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.about-link,
.support {
  width: 15%;
}
.category {
  width: 20%;
}
.testimonial {
  width: 25%;
  p {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
  }
  a {
    display: inline-block;
    margin-bottom: 10px;
    color: $blue-53;
  }
  span {
    display: inline-block;
    width: 100%;
    color: $black-2a;
  }
}
.social-wrap {
  width: 25%;
  .logo,
  .copy-right-wrap {
    margin-bottom: 20px;
  }
  @media (max-width: $mobile) {
    clear: left;
  }
}
.footer-title {
  margin: 0 0 20px;
  color: $black-2a;
  font-size: 20px;
  text-transform: uppercase;
}
.footer-link {
  li {
    margin-bottom: 10px;
  }
}
.social-media {
  display: inline-block;
  li {
    display: inline-block;
  }
  .social-icon {
    &::before {
      display: inline-block;
      content: '';
      height: 45px;
      width: 45px;
      margin-right: 5px;
      background-image: url('../images/social-icons.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .twitter {
    &::before {
      background-position: -60px 0;
    }
  }
  .instagram {
    &::before {
      background-position: -120px 0;
    }
  }
  .googleplus {
    &::before {
      background-position: -175px 0;
      margin-right: 0;
    }
  }
}