/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

.footer-link {
  padding-left: 0;
  li {
    margin-bottom: 16px;
    list-style: none;
  }
}
.footer-content {
  display: inline-block;
  margin: 40px 0;
  color: $grey-6b;
  font-size: $font-size-14;
  a {
    color: $grey-6b;
  }
  .footer-col {
    float: left;
    display: inline-block;
    margin-right: 5%;
    padding-right: 10px;
    vertical-align: top;
    @media (max-width: $mobile-portrait) {
      margin: 0 0 25px;
      padding: 0;
    }
    &.about-link,
    &.support {
      width: 10%;
    }
    &.category {
      width: 15%;
    }
    &.testimonial {
      width: 25%;
      p {
        font-size: $font-size-14;
        font-style: italic;
      }
      a {
        display: inline-block;
        margin-bottom: 10px;
        color: $blue-53;
      }
      span {
        display: inline-block;
        width: 100%;
        color: $black-2a;
      }
    }
    &.social-wrap {
      width: 20%;
      .bottom-space {
        display: inline-block;
        margin-bottom: 16px;
      }
      .copy-right-wrap {
        margin-bottom: 0;
        @media (max-width: $mobile-portrait) {
          width: 100%;
        }
      }
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }
    &.about-link {
      @media (max-width: $ipad-portrait) {
        width: 25%;
      }
      @media (max-width: $mobile-portrait) {
        width: 100%;
      }
    }
    &.category {
      @media (max-width: $ipad-portrait) {
        width: 25%;
      }
      @media (max-width: $mobile-portrait) {
        width: 100%;
      }
    }
    &.testimonial {
      @media (max-width: $ipad-portrait) {
        width: 40%;
        margin-right: 0;
      }
      @media (max-width: $mobile-portrait) {
        width: 100%;
      }
    }
    &.support {
      @media (max-width: $ipad-portrait) {
        width: 45%;
        margin-top: 20px;
      }
      @media (max-width: $mobile-portrait) {
        width: 100%;
      }
    }
    &.social-wrap {
      @media (max-width: $ipad-portrait) {
        width: 50%;
        margin-top: 20px;
        margin-right: 0;
      }
      @media (max-width: $mobile-portrait) {
        width: 100%;
      }
    }
  }
}

.social-media {
  li {
    .social-icon {
      &::before {
        float: left;
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 13px;
        background-image: url('../images/social-icons.png');
        background-position: center right 0;
        content: '';
        @media (max-width: $small-desktop) {
          margin-right: 6px;
        }
      }
      &.facebook {
        &::before {
          background-position: 0 center;
        }
      }
      &.twitter {
        &::before {
          background-position: 148px center;
        }
      }
      &.instagram {
        &::before {
          background-position: 94px center;
        }
      }
    }
  }
}
