/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 */

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select,
.form-control {
  height: 40px;
  padding: 4px 12px;
  border: 1px solid $grey-b6;
  background-color: $grey-e7;
  color: $black-42;
  @include border-radius(4px);
  @include box-shadow(none);
  &:focus,
  &:hover {
    border-color: $grey-b6;
    outline: none;
    box-shadow: none;
  }
}
textarea,
select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid $grey-b6;
  color: $black-88;
  font-size: $font-size-14;
  resize: none;
  @include border-radius(4px);
  &:focus,
  &:hover {
    border-color: $grey-b6;
    outline: none;
    box-shadow: onne;
  }
}

.search-bar {
  display: inline-block;
  margin: 6px 0 0 42px;
  input[type=text] {
    height: 38px;
    width: 250px;
    padding: 4px 35px 4px 20px;
    background-color: $white;
    background-image: url('../images/search-icon-th.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 18px;
    color: $black;
    font-size: $font-size-13;
  }
}
/* Custom Checkbox and Radio button design */
.input-rc {
  position: relative;
  display: inline-block;
  input[type='checkbox'],
  input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 21px;
    width: 21px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    + .input-rc-span {
      float: left;
      display: inline-block;
      height: 21px;
      width: 21px;
      margin-right: 8px;
      background-image: url('../images/checkbox.png');
      background-position: center right -1px;
      background-repeat: no-repeat;
      cursor: pointer;
      content: '';
    }
    &:checked {
      + .input-rc-span {
        background-position: center left;
      }
    }
  }
}

/* User form design */
.user-form {
  display: inline-block;
  width: 100%;
  padding: 25px;
  .form-items {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    label {
      display: inline-block;
      /*width: 100%;*/
      margin-bottom: 10px;
      padding-left: 0;
      color: $grey-62;
      font-size: $font-size-12;
      font-family: $oswald-light;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    input[type="text"],
    input[type="Password"] {
      width: 100%;
      color: $black;
      font-size: $font-size-14;
    }
  }
  .remeber-me,
  .forgot-link {
    float: left;
    display: inline-block;
    width: 50%;
    color: $grey-79;
    font-size: $font-size-14;
  }
  .remeber-me {
    label {
      font-size: $font-size-14;
      font-family: $opensans-semibolditalic;
    }
  }
  .forgot-link {
    color: $grey-79;
    text-align: right;
  }
  .form-action {
    .btn {
      width: 100%;
    }
    &.register-btn {
      margin-top: 30px;
    }
  }
  .not-member {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    color: $grey-79;
    font-family: $opensans-italic;
    a {
      color: $grey-62;
      font-family: $opensans-bold;
    }
  }
}

/* Input file design */
.form-managed-file {
  display: inline-block;
  width: 100%;
  .input-file {
    display: inline-block;
    max-width: 300px;
    margin-right: 8px;
    .input-file-name {
      position: relative;
      float: left;
      height: 40px;
      width: 200px;
      padding: 10px 12px;
      border: 1px solid $grey-b6;
      color: $grey-b6;
      font-size: $font-size-14;
      cursor: pointer;
      @include border-radius(3px 0 0 3px);
    }
  }
}
.input-file-sub {
  position: relative;
  float: left;
  height: 40px;
  width: 95px;
  font-family: $opensans-bold;
  cursor: pointer;
  &::before {
    position: absolute;
    height: 100%;
    width: 100px;
    padding: 12px 0;
    color: $white;
    font-size: $font-size-14;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    content: 'Upload';
    @extend .btn-grey;
    @extend .btn-gradient-grey;
    @include border-radius(0 3px 3px 0);
  }
  input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    cursor: pointer;
    opacity: 0;
  }
}
.input-group-btn {
  display: inline-block;
  &:last-child > .btn {
    padding: 10px 25px;
    font-size: $font-size-14;
    font-weight: 700;
    text-transform: lowercase;
    @include border-radius(4px);
    @extend .btn-gradient-blue;
  }
}

/* Left content turn around time */
/*.timing-radio {
  padding-top: 15px;
  label {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-left: 0;
    color: $grey-99;
    font-size: $font-size-15;
    font-weight: 100;
  }
}*/
.custom-checkbox {
  float: right;
  margin: 0;
  input[type=checkbox] {
    height: 13px;
    width: 13px;
    + .input-rc-span {
      height: 13px;
      width: 13px;
      margin: 0;
      background-image: url('../images/checkbox-2.png');
      background-position: center right 1px;
    }
  }
}
.green-checkbox {
  input[type=checkbox] {
    height: 24px;
    width: 24px;
    + .input-rc-span {
      height: 24px;
      width: 24px;
      background-image: url('../images/Rectangle-checkbox.png');
      background-position: center right 1px;
    }
  }
}
.custom-radio {
  display: block;
  margin-bottom: 15px;
  label {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-left: 0;
    color: $grey-99;
    font-size: $font-size-15;
    font-weight: 100;
  }
  input[type=radio] {
    height: 15px;
    width: 15px;
    + .input-rc-span {
      height: 15px;
      width: 15px;
      margin-top: 2px;
      background-image: url('../images/radio.png');
      background-position: center right -18px;
    }
    &:checked {
      + .input-rc-span {
        background-position: center right;
      }
    }
  }
}
.form-group {
  label {
    color: $black-3a;
  }
}
/* End */

.user-info-form {
  .form-group {
    margin-bottom: 0;
    .portfolio-btn {
      margin: 10px 0 50px;
    }
  }
  label {
    width: 100%;
  }
  input[type='text'],
  textarea {
    display: inline-block;
    max-width: 415px;
    width: 100%;
    margin: 0 20px 35px 0;
    background-color: $white;
  }
}
/* User profile skill section design */
.skills {
  max-width: 415px;
  input {
    float: left;
    display: inline-block;
    margin-right: 10px;
    @include calc('width', '60% - 5px');
  }
  .btn {
    float: left;
    margin-right: 0;
    @include calc('width', '40% - 5px');
  }
}
/* End */

.contact-btn {
  display: inline-block;
  width: 100%;
  .btn {
    width: 100%;
    background-color: $sky-66;
    font-size: $font-size-18;
  }
}
.show-me-btn {
  display: inline-block;
  a {
    padding: 4px 10px;
    border: 1px solid $grey-dd;
    background-color: $white;
    color: $black-88;
    text-transform: capitalize;
    @include box-shadow(1px 1px 2px 0 $black-48);
    &:hover,
    &:focus,
    &:active:focus {
      color: $black-48;
      opacity: 1;
    }
  }
}
.payment-form {
  display: inline-block;
  width: 100%;
  margin: 15px 0 30px;
  .form-group {
    margin-bottom: 18px;
    label {
      margin-bottom: 10px;
    }
    input {
      max-width: 100%;
      background-color: transparent;
    }
  }
  .sub-form {
    float: left;
    display: block;
    width: 100%;
    margin-right: 10px;
    @include calc(width, '50% - 5px');
    @media (max-width: 1200px) {
      max-width: 100%;
      @include calc(width, '50% - 8px');
    }
    @media (max-width: 640px) {
      max-width: 100%;
      @include calc(width, '50% - 8px');
    }
    @media (max-width: 480px) {
      width: 100%;
      margin: 0 0 20px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.mayment-btn {
  float: right;
  display: inline-block;
  .make-payment-btn {
    margin-right: 25px;
  }
}
/* Date form */
.date-form {
  float: right;
  display: inline-block;
  label {
    margin: 0 5px 0 0;
    font-size: $font-size-12;
    font-weight: normal;
    vertical-align: middle;
  }
  .form-control {
    height: 38px;
    background-color: transparent;
    font-size: $font-size-12;
  }
}
/* End date form */
