/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 */


input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select,
.form-control {
  height: 40px;
  padding: 4px 12px;
  border: 1px solid $grey-b6;
  background-color: $grey-e7;
  color: $grey-b6;
  @include border-radius(4px);
  @include box-shadow(none);
  &:focus,
  &:hover {
    border-color: $grey-b6;
    outline: none;
    box-shadow: none;
  }
}
textarea,
select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid $grey-b6;
  color: $grey-b6;
  font-size: 14px;
  resize: none;
  @include border-radius(4px);
  &:focus,
  &:hover {
    border-color: $grey-b6;
    outline: none;
    box-shadow: none;
  }
}

/* Custom Checkbox and Radio button design */
.input-rc {
  position: relative;
  display: inline-block;
  input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 21px;
    width: 21px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    + .input-rc-span {
      float: left;
      display: inline-block;
      height: 21px;
      width: 21px;
      margin-top: -2px;
      margin-right: 8px;
      background-image: url('../images/checkbox.png');
      background-position: center right -1px;
      background-repeat: no-repeat;
      cursor: pointer;
      content: '';
    }
    &:checked {
      + .input-rc-span {
        background-position: center left;
      }
    }
  }
}

/* User form design */
.user-form {
  display: inline-block;
  width: 100%;
  padding: 25px;
  .form-items {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    label {
      display: inline-block;
      /*width: 100%;*/
      margin-bottom: 10px;
      padding-left: 0;
      color: $grey-62;
      font-size: $font-size-15;
      text-transform: uppercase;
    }
    input[type="text"],
    input[type="Password"] {
      width: 100%;
    }
  }
  .remeber-me,
  .forgot-link {
    float: left;
    display: inline-block;
    width: 50%;
    color: $grey-79;
    font-size: $font-size-14;
  }
  .forgot-link {
    color: $grey-79;
    text-align: right;
  }
  .form-action {
    .btn {
      width: 100%;
    }
  }
  .not-member {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    color: $grey-79;
    font-size: $font-size-16;
    a {
      color: $grey-62;
      font-weight: 700;
    }
  }
}

/* Input file design */
.form-managed-file {
  display: inline-block;
  width: 100%;
  .input-file {
    display: inline-block;
    max-width: 280px;
    margin-right: 8px;
    .input-file-name {
      position: relative;
      float: left;
      height: 40px;
      width: 185px;
      padding: 10px 12px;
      border: 1px solid $grey-b6;
      color: $grey-b6;
      font-size: $font-size-14;
      cursor: pointer;
      @include border-radius(3px 0 0 3px);
    }
    .input-file-sub {
      position: relative;
      float: left;
      height: 40px;
      width: 95px;
      cursor: pointer;
      &::before {
        position: absolute;
        height: 100%;
        width: 100px;
        margin-left: -5px;
        padding: 12px 0;
        color: $white;
        font-size: $font-size-14;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;
        content: 'Upload';
        @extend .btn-grey;
        @extend .btn-gradient-grey;
        @include border-radius(0 3px 3px 0);
      }
      input {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
        cursor: pointer;
        opacity: 0;
      }
    }
  }
}
.input-group-btn {
  display: inline-block;
  &:last-child > .btn {
    padding: 10px 21px;
    font-size: $font-size-14;
    font-weight: 700;
    text-transform: lowercase;
    @include border-radius(4px);
    @extend .btn-gradient-blue;
  }
}

/*left content turn around time */
.timing-radio {
  label {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    color: $grey-99;
    font-size: $font-size-15;
    font-weight: 100;
  }
}
/* End */
.user-info-form {
  label {
    width: 100%;
  }
  input,
  textarea {
    display: inline-block;
    max-width: 415px;
    width: 100%;
    margin-bottom: 20px;
    background-color: $white;
  }
}
