/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */

.header {
  position: relative;
  .navbar {
    margin-bottom: 0;
  }
}
.navbar-brand {
  float: none;
  img {
    max-height: 45px;
  }
}
.navbar-toggle {
  margin-right: 0;
  background-color: $green;
  @include border-radius(2px);
  @media (min-width: 768px) {
    display: inline-block;
  }
  .icon-bar {
    background-color: $white;
  }
}
.navbar-collapse {
  position: absolute;
  top: 87px;
  left: 0;
  display: none;
  width: 100%;
  background-color: $grey;
  text-align: left;
  &.collapse {
    @media (min-width: 768px) {
      display: none !important;
    }
  }
  &.in {
    @media (min-width: 768px) {
      display: block !important;
    }
  }
  ul {
    width: 100%;
    li {
      width: 100%;
      a {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
.right-header {
  display: inline-block;
  @include calc('width', '100% - 44px');
  text-align: right;
  .navbar-nav {
    float: none;
    display: inline-block;
  }
}
.menu {
  li {
    a {
      color: $white;
      font-size: 14px;
      text-transform: uppercase;
      @include border-radius(3px);
      a {
        &:hover {
          background-color: $green;
        }
      }
    }
  }
}

/* User Menu design */
.user-menu {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  padding: 12px 0 0;
  border-bottom: 1px solid $grey-b6;
  ul {
    float: left;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    li {
      float: left;
      display: inline-block;
      margin-right: 40px;
      margin-bottom: 12px;
      a {
        float: left;
        display: inline-block;
        color: $grey-79;
        font-size: $font-size-14;
      }
    }
  }
}

