/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */

.header {
  position: relative;
  .navbar-static-top {
    padding: 18px 0;
  }
  .navbar {
    margin-bottom: 0;
  }
}
.login-register {
  .navbar-toggle {
    @media (max-width: 992px) {
      margin-top: 5px;
      padding: 10px;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }
  .navbar-collapse {
    @media (max-width: 767px) {
      top: 143px;
    }
  }
  .right-header {
    @media (max-width: 992px) {
      @include calc('width', '100% - 44px');
      margin-top: 5px;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
      text-align: left;
    }
  }
}
.navbar-header {
  display: inline-block;
  .navbar-brand {
    float: none;
    display: inline-block;
    padding: 0;
    @media (min-width: 768px) {
      margin: 0 !important;
    }
    img {
      max-height: 45px;
    }
  }

}
.navbar-toggle {
  margin: 0;
  padding: 17px 15px;
  background-color: $green;
  @include border-radius(2px);
  @media (max-width: 992px) {
    margin-top: 5px;
    padding: 10px;
  }
  @media (min-width: 768px) {
    display: inline-block;
  }
  .icon-bar {
    background-color: $white;
  }
}
.navbar-collapse {
  position: absolute;
  top: 87px;
  left: 0;
  z-index: 99;
  display: none;
  width: 100%;
  background-color: $grey;
  text-align: left;
  &.collapse {
    @media (min-width: 768px) {
      display: none !important;
    }
  }
  &.in {
    @media (min-width: 768px) {
      display: block !important;
    }
  }
  ul {
    width: 100%;
    li {
      width: 100%;
      a {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
.right-header {
  display: inline-block;
  @include calc('width', '100% - 54px');
  text-align: right;
  .navbar-nav {
    float: none;
    display: inline-block;
    .account-dropdown {
      position: absolute;
      min-width: 145px;
      margin-top: 8px;
      padding: 15px;
      background-color: $black;
      li {
        display: block;
        margin: 0 0 5px;
        a {
          padding: 0;
          &:hover {
            color: $white;
            opacity: .8;
          }
        }
      }
    }
  }
  .header-menu-1 {
    display: none;
    li {
      a {
        &:hover,
        &:focus,
        &:active {
          background-color: $green;
          color: $white;
        }
      }
    }
  }
  .header-menu-2 {
    margin-top: 15px;
    li {
      margin-right: 25px;
      a {
        padding: 0;
        text-transform: capitalize;
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
        }
      }
      &.notifiy-content {
        @media (max-width: 640px) {
          display: none;
        }
      }
    }
    .account-item {
      padding-left: 35px;
      &::before {
        height: 25px;
        width: 25px;
        background-image: url('../images/account-img.png');
      }
    }
  }
}
.header-menu-2 {
  margin-top: 15px;
  li {
    position: relative;
    margin-right: 15px;
    a {
      padding: 0;
      text-transform: capitalize;
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
      }
    }
    .notification-count {
      position: absolute;
      float: left;
      top: 0;
      left: 14px;
      height: auto;
      width: auto;
      margin-top: -12px;
      padding: 3px 8px;
      background: $green;
      color: $white;
      font-size: $font-size-12;
      text-align: center;
      @include border-radius(100%);
    }
  }
  .account-item {
    padding-left: 35px;
    &::before {
      height: 25px;
      width: 25px;
      background-image: url('../images/account-img.png');
    }
  }
}
.menu {
  li {
    margin-right: 10px;
    @media (max-width: 1200px) {
      margin-right: 5px;
    }
    @media (max-width: 767px) {
      display: inline-block;
    }
    a {
      color: $white;
      font-size: $font-size-14;
      text-transform: uppercase;
      @include border-radius(3px);
      @media (max-width: 992px) {
        padding: 8px 5px;
        font-size: $font-size-12;
      }
    }
    .login-btn {
      border: none;
    }
  }
}
.path-login {
  .right-header {
    .header-menu-1 {
      display: inline-block;
      margin: 0;
    }
    .header-menu-2 {
      display: none;
    }
  }
}

/* User Menu design */
.user-menu {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  padding: 12px 0;
  border-bottom: 1px solid $grey-b6;
  @media (max-width: 992px) {
    margin-bottom: 20px;
  }
  .menu-list {
    float: left;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    li {
      float: left;
      display: inline-block;
      margin-right: 38px;
      @media (max-width: 1200px) {
        margin-right: 15px;
      }
      @media (max-width: 992px) {
        width: 33.33%;
        margin: 0 0 10px;
        padding-right: 15px;
      }
      @media (max-width: 640px) {
        width: 50%;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        float: left;
        display: inline-block;
        color: $grey-79;
        font-size: $font-size-14;
      }
    }
    .dashboard-dropdown {
      li {
        width: 100%;
        margin: 0;
        a {
          width: 100%;
        }
      }
    }
  }
}
