/**
 * @file
 * SCSS file to generate CSS.
 *
 * Sidebar content SCSS
 */
.tasl-list-view {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.sidebar-box {
  .sidebar-body {
    padding: 10px 20px;
    .user-list {
      li {
        &::before {
          height: 15px;
          width: 15px;
        }
        a {
          font-size: $font-size-14;
        }
      }
      .icon-star {
        &::before {
          background-image: url('../images/star-icon-line.png');
        }
      }
      .icon-profile-setting {
        &::before {
          background-image: url('../images/wedding-invitation.png');
        }
      }
      .icon-user {
        &::before {
          background-image: url('../images/user.png');
        }
      }
      .icon-lock {
        &::before {
          background-image: url('../images/locked.png');
        }
      }
      .icon-paypal {
        &::before {
          background-image: url('../images/paypal-outlined-logo.png');
        }
      }
    }
  }
}

.star-each {
  display: inline-block;
  width: 100%;
  padding-right: 20px;
  .rating-image {
    float: left;
    display: inline-block;
  }
  .rating-checkbox {
    float: right;
    display: inline-block;
  }
}
.rating-image {
  img {
    max-height: 15px;
    max-width: 15px;
  }
}
/* Side bar 30 */
.side-bar-30 {
  float: left;
  width: 30%;
  @media (max-width: 992px) {
    width: 100%;
  }
}
/* End bar 30 */
