/**
 * @file
 * SCSS file to generate CSS.
 *
 * Sidebar content SCSS
 */


.range,
.rating,
.timing-filter,
.categories {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.range {
  .scroller {
    input {
      width: 100%;
    }
  }
}
.sidebar-body {
  padding: 10px 20px;
}

.star-each {
  display: inline-block;
  width: 100%;
  padding-right: 20px;
  .rating-image {
    float: left;
    display: inline-block;
  }
  .rating-checkbox {
    float: right;
    display: inline-block;
  }
}
.rating-image {
  img {
    max-height: 15px;
    max-width: 15px;
  }
}
/* Side bar 30 */
.side-bar-30 {
  float: left;
  width: 30%;
  @media (max-width: 992px) {
    width: 100%;
  }
}
/* End bar 30 */
