/**
 * @file
 * SCSS file to generate CSS.
 *
 * Sidebar content SCSS
 */


.range,
.rating,
.timing-filter,
.categories {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.range {
  .scroller {
    input {
      width: 100%;
    }
  }
}
.sidebar-body {
  padding: 10px 20px;
}
/*.star-rating,
.timing-radio,
.category-filter {
  padding: 10px 20px;
}*/
.list-spacing {
  li {
    margin-bottom: 20px;
  }
}
.star-each {
  display: inline-block;
  width: 100%;
  padding-right: 20px;
  .rating-image {
    float: left;
    display: inline-block;
  }
  .rating-checkbox {
    float: right;
    display: inline-block;
  }
}
.rating-image {
  img {
    max-width: 15px;
    max-height: 15px;
  }
}
